background-image: url('img_girl.jpg');

body {
    margin:0;
    background-image: url('img_girl.jpg');
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

h1:hover {
    color: rgb(138, 138, 138);
}

div.top-menu-border {

  background: rgb(100, 100, 100);
  width: 100%;
  height: 50px;
}

div.top-menu {
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    max-width: 500px;
  }

a.top-menu {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    height: 20px;
}

a.top-menu:hover {
    background-color: rgb(182, 182, 182);
}

#footer {
    position: fixed;
    bottom: 0;
}